.container {
    display: flex;
    justify-content: space-around;
}

.register {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.login {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.login_register {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: blue;
    color: white;
}